.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #B721FF, #21D4FD);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
    border: 1px solid white;
    color: white;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    color: white;
    align-items: left;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
}

.wrapper ul li a:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

input[type="checkbox"] {
    display: none;
}